[flake8]
ignore = E203, E266, E501, W503, F403, F401, F405, E402, C901, E722, F841, W291, E701, E252, E226, E126, E241, E731, E704, E231, F541, F601, E222, E261, E262, W293, E121
max-line-length = 89
max-complexity = 25
select = B,C,E,F,W,T4,B9

# Ignored rules
#   E203: whitespace
#   E266: too many ###
#   E501: line too long
#   F403: imported but not used
#   F401: line breaks before binary operators
#   E402: module level import not at top of file
#   F405: name may be undefined, or defined from star imports
#   C901 'main' is too complex (42)
#   E722 do not use bare 'except'
#   F841 local variable is assigned to but never used