repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]

  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
        args: ["--profile", "black", "--filter-files"]

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        # exclude: |
        #     (?x)^(
        #         projects/
        #         | src/home_robot_hw/home_robot_hw/ros/srv_prebuilt/
        #     )

  # - repo: local
  #   hooks:
  #     - id: mypy
  #       name: mypy
  #       entry: mypy
  #       language: system
  #       types: [python]
  #       args: [--install-types, --non-interactive, --no-strict-optional, --ignore-missing-imports]
        # exclude: |
        #     (?x)^(
        #         projects/
        #         | src/home_robot/home_robot/experimental/
        #         | examples/
        #         | tests/
        #         | src/home_robot/
        #         | src/home_robot_sim/
        #         | src/home_robot_hw/
        #     ) | setup.py$
